* {
	border: none;
	font-family: "nerdfonts";
	font-size: 12px;
	min-height: 0;
}

window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}

.module {
	margin: 2px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	/*transition: none;*/
}

#window {
	font-weight: bold;
	color: #89DCEB;
	/*background: transparent;*/
}

#window > label {
	text-shadow: 0 0 2pt black;
}

#workspaces {
	font-size: 4px;
	background: #161320;
}

#workspaces button {
	color: #B5E8E0;
	background: transparent;
	font-size: 16px;
	border-radius: 2px;
}

#workspaces button.empty {
	color: gray;
}

#workspaces button.active {
	color: lightgreen;
}

#workspaces button.urgent {
	color: red;
}

#workspaces button.occupied {
	color: #F28FAD;
	background: transparent;
	font-size: 4px;
}

#workspaces button.focused {
	color: #ABE9B3;
	border-top: 2px solid #ABE9B3;
	border-bottom: 2px solid #ABE9B3;
}

#workspaces button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: #FAE3B0;
	border-color: #E8A2AF;
	color: #E8A2AF;
}

#workspaces button.focused:hover {
	color: #E8A2AF;
}

#network {
	color: #161320;
	background: #bd93f9;
}

#wireplumber {
	color: #1A1826;
	background: #FAE3B0;
}

#battery {
	color: #161320;
	background: #B5E8E0;
}

#battery.charging,
#battery.plugged {
	color: #161320;
	background-color: #B5E8E0;
}

#battery.critical:not(.charging) {
	background-color: #B5E8E0;
	color: #161320;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes blink {
	to {
		background-color: #BF616A;
		color: #B5E8E0;
	}
}

#backlight {
	color: #161320;
	background: #F8BD96;
}

#clock {
	color: #161320;
	background: #ABE9B3;
	/*background: #1A1826;*/
}

#memory {
	color: #161320;
	background: #DDB6F2;
}

#cpu {
	color: #161320;
	background: #96CDFB;
}

#tray {
	color: #B5E8E0;
	background: #161320;
}

#custom-launcher {
	color: #89DCEB;
	background: #161320;
}

#custom-power {
	color: #161320;
	background: #F28FAD;
}

#keyboard-state {
	background: #97e1ad;
	color: #000000;
	min-width: 16px;
}

#keyboard-state>label {
	padding: 0 5px;
}

#keyboard-state>label.locked {
	background: rgba(0, 0, 0, 0.2);
}

menu {
	border-radius: 4px;
	background: #161320;
	color: #B5E8E0;
}

menuitem {
	border-radius: 4px;
}